
<div class="container">
  <div class="dingo text-center">
    <h4 class="dingo-baby">
     The bitterest tears shed over graves are for words left unsaid and for deeds left undone. ~Harriet Beecher Stowe, Little Foxes, 1865
   </h4>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">Welcome to Memories!</h1>
    <p class="lead">Leave your loved ones a note, even after your gone.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>
