<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
  <div class="dingo text-center" style="display: none">
    <h4 class="dingo-baby">
     The bitterest tears shed over graves are for words left unsaid and for deeds left undone. ~Harriet Beecher Stowe
   </h4>
  </div>

  <p class="lead" id="lead" style="display:none">
      <a class="btn btn-primary btn-lg" role="button">What is Memories?</a>
  </p>

  <div class="jumbotron" style="display:none">
    <h1 class="display-4">Welcome to Memories!</h1>
    <p class="lead">Leave your loved ones a note, even after your gone.</p>
    <hr class="my-4">
    <p>Memories is a place where you can express your love and feelings for those you leave behind. It is essentially a lasting piece of comfort that will always be available for loved ones.</p>
  </div>

</div>

</body>
<script>
$(function() {

  $(".dingo").fadeIn(2000, function() {
    $("#lead").fadeIn(3000).removeClass("display:none");

  });
});

$(function() {

    $("#lead").on("click", function() {
      $(".jumbotron").toggle(1000);
    });
});

</script>
