/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .dingo {
  color: black;
  margin-top: 10%;
  font-family: 'Courgette', cursive;
}

.dingo-baby {
  text-align: left;
  text-shadow: 1px 1px 1px gray;
}

.jumbotron {
  box-shadow: 4px 4px 4px gray;
  margin-top: 10%;
}

.fa-dyalog {
  height: 25px;
}

.navbar {
  background-color: transparent;
}

.nav {
  text-decoration: none;
}

.letter_custom {
  height: 200px;
}

body *:hover {
  text-decoration: none;
}

.show_page {
  text-decoration: italic;
}

.show_it {
  height: 200px;
  padding: 50px;
}

#lead {
  color: white;
}

#harrychild {
  
}

.btn-primary {
  color: white;
}

textarea {
  height: 500px;
  max-height: 500px;
  width: 600px;
  overflow-y: scroll;
}