/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .dingo {
  color: black;
  margin-top: 10%;
  font-family: 'sans-serif';
}

.dingo-baby {
  text-align: left;
  text-shadow: 1px 1px 1px gray;
}

.jumbotron {
  box-shadow: 4px 4px 4px gray;
  margin-top: 10%;
  color: #FFFFFF;
  /*background-color: #494551;*/
  
}

#moveitup {
  margin-top: -5px;
  margin-bottom: -30px;
}

#mumbo {
  color: black;
  width: 500px;
}

#jumby {
  background-image: url("https://static1.squarespace.com/static/55679613e4b00149409af679/t/569d82e869492e9dd5318233/1453163242636/the-bucket-list-family.png");
}

.fa-dyalog {
  height: 25px;
}

.navbar {
  background-color: white;
  color: black;
}


.nav {
  text-decoration: none;
}

.letter_custom {
  height: 200px;
}

body *:hover {
  text-decoration: none;
}

.show_page {
  text-decoration: italic;
}

.show_it {
  height: 200px;
  padding: 50px;
}

#lead {
  color: white;
  margin-top: 15px;
}

.butto {
  box-shadow: 2px 2px 2px black;  
}

#harrychild {
  color: white;  
}

.btn-primary {
  color: white;
}

textarea {
  height: 500px;
  max-height: 500px;
  width: 600px;
  overflow-y: scroll;
}

#notice {
  color: transparent;
}

.notice {
  color: green;
  margin-top: 50px;
  margin-bottom: -20px;
}

.toppi {
  margin-bottom: 15px;
}

.table-dark {
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-radius: 10px;
  border-top: none;
  box-shadow: 4px 4px 4px black;
}

.table * {
  color: white;
}

#numero2 {
  margin-top: 100px;
}

.nummy {
  background-color: #494551;
}

img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
}

.nick {
  margin-left: -30px;
  margin-top: 100px; 
}

.odell:hover {
  cursor: pointer;
}

.gayyer {
  margin-top: 100px;
  margin-left: 80px;
}

.text-primary {
  text-shadow: 2px 2px 2px black;
}